/**
 * @file
 * Block Styling
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\000039}}
.block {
  /* Block wrapper */
  margin-bottom: 1.1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000312}}
.block.first {
  /* The first block in the region */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000315}}
.block.last {
  /* The last block in the region */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000318}}
.block.odd {
  /* Zebra striping for each block in the region */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000321}}
.block.even {
  /* Zebra striping for each block in the region */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000324}}
.block h2.block-title {
  /* Block title */
  border-bottom: 2px solid #419845;
  font-family: 'Ropa Sans';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000330}}
.front h2.block-title {
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 0 0.9em;
  margin-bottom: 0.9em;
}

/**
 * @Islandora Blocks
 *
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000343}}
#block-islandora-solr-simple, .image-block-front,
.submit-collection-anon, .submit-collection, .welcome {
  background: #fff;
  float: right;
  position: relative;
  z-index: 100;
  height: 140px;
  max-width: 360px;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000356}}
.welcome h2 {
  color: #3D8396;
  margin: 0.8em 0;
  font-weight: normal;
  font-size: 120%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000362}}
.welcome p {
  margin: 0.2em 0;
  line-height: 1.3em;
  color: #424143;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000369}}
#block-accordion-rotator-accordion-rotator {
  max-height: 440px;
  width: 99.5%;
  float: left;
  margin-bottom: 1.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000377}}
#block-views-frontpage-solr-boxes-block-1, #block-views-frontpage-solr-boxes-block-2,
#block-views-frontpage-solr-boxes-block-3 {
  float: left;
  background: #fff;
  float: left;
  padding: 15px;
  box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000385}}
#block-views-frontpage-solr-boxes-block-2 {
  margin-right: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000389}}
#block-views-frontpage-solr-boxes-block-1 .views-row {
  float: left;
  max-width: 47%;
  padding: 1em 1em 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000394}}
#block-views-frontpage-solr-boxes-block-1 h3 {
  margin-bottom: 0.5em;
  font-size: 95%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000398}}
#block-views-frontpage-solr-boxes-block-1 .views-field-dcdescription span {
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 90%;
  line-height: 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003104}}
#block-views-frontpage-solr-boxes-block-1 img {
  float: left;
  width: 115px;
  height: 115px;
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003110}}
#block-views-frontpage-solr-boxes-block-1 a {
  color: #3D8396;
  font-size: 100%;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003118}}
#block-views-top-site-searches-block table, #block-views-top-facet-searches-block table {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003124}}
.block-islandora-solr ul {
  margin: 0.5em 0 0;
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003127}}
.block-islandora-solr ul li {
  list-style: none;
  border-bottom: 1px solid #eef0ed;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003131}}
.block-islandora-solr ul li:hover {
  background: #F7F9F6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003136}}
.block-islandora-solr h3 {
  margin-bottom: 0;
  color: #5A5B5D;
  font-size: 130%;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003144}}
.count {
  color: #888;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003148}}
.plusminus {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003152}}
#block-islandora-solr-display-switch {
  float: right;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003160}}
#block-islandora-solr-display-switch ul li {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003167}}
.islandora-solr-display a.display-default, .islandora-solr-display a.display-grid,
.islandora-solr-display a.display-table {
  background: url("../images/display-grid-list.png") no-repeat scroll left top transparent;
  display: inline-block;
  height: 22px;
  outline: medium none;
  text-indent: -9999px;
  width: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003176}}
.islandora-solr-display a.display-grid {
  background: url("../images/display-grid.png") no-repeat scroll left top transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003180}}
.islandora-solr-display a.display-table {
  background: url("../images/display-list.png") no-repeat scroll left top transparent;
}

/**
  * @Menus 
  *
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003189}}
#block-menu-menu-header-menu {
  height: 30px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF343334', endColorstr='#FF5A5B5D');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343334), color-stop(100%, #5a5b5d));
  background-image: -webkit-linear-gradient(top, #343334 0%, #5a5b5d 100%);
  background-image: -moz-linear-gradient(top, #343334 0%, #5a5b5d 100%);
  background-image: -o-linear-gradient(top, #343334 0%, #5a5b5d 100%);
  background-image: linear-gradient(top, #343334 0%, #5a5b5d 100%);
}

/**
 * @Views Blocks
 *
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003201}}
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003204}}
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003207}}
.submit-collection, .submit-collection-anon {
  /* First block created with "Add block" link */
  height: 70px;
  background: #419845 !important;
  font-size: 130%;
  font-weight: normal;
  line-height: 3.2em;
  float: right;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003215}}
.submit-collection a, .submit-collection-anon a {
  color: #fff;
  margin-left: 3.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003219}}
.submit-collection p, .submit-collection-anon p {
  margin: 0.25em 0;
}

/* @Google Analytics Views */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003226}}
#block-views-object-visitors-by-month-block, #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block {
  float: left;
  padding: 15px;
  background: #fff;
  min-height: 520px;
  box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003235}}
#block-views-top-site-searches-block {
  margin: 0;
  font-size: 90%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003239}}
#block-views-top-site-searches-block th.views-field-search, #block-views-top-site-searches-block th.views-field-pageviews {
  padding: 0.8em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003244}}
#block-views-top-facet-searches-block {
  margin: 0;
  font-size: 90%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003250}}
.block-google-analytics-reports {
  margin: 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003253}}
.block-google-analytics-reports h3 {
  font-size: 93%;
  color: #424143;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003257}}
.block-google-analytics-reports ol, .block-google-analytics-reports p {
  font-size: 90%;
}

/* Accordion Rotator */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003269}}
#block-accordion-rotator-accordion-rotator h2 {
  font-size: 120%;
  padding: 0 15px;
  font-family: 'Ropa Sans' !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003274}}
#block-accordion-rotator-accordion-rotator p {
  font-size: 80%;
  font-weight: normal;
  padding: 0 15px;
  font-family: arial, helvetica, verdana, sans-serif  !important;
  margin: 0;
}

/* Blockify */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003288}}
#block-blockify-blockify-logo img {
  width: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003293}}
#block-blog-recent {
  /* "Recent blog posts" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003296}}
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003299}}
#block-comment-recent {
  /* "Recent comments" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003302}}
#block-forum-active {
  /* "Active forum topics" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003305}}
#block-forum-new {
  /* "New forum topics" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003308}}
#block-locale-language {
  /* Language switcher block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003311}}
#block-menu-menu-NAME {
  /* Custom menu block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003314}}
#block-node-recent {
  /* "Recent content" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003317}}
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003320}}
#block-poll-recent {
  /* "Most recent poll" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003323}}
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003326}}
#block-search-form {
  /* "Search form" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003329}}
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003332}}
#block-statistics-popular {
  /* "Popular content" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003335}}
#block-system-main-menu {
  /* "Main menu" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003338}}
#block-system-management {
  /* "Management" block for Drupal management menu */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003341}}
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003342}}
#block-system-navigation ul {
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003347}}
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003350}}
#block-system-help {
  /* "System help" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003353}}
#block-system-main {
  /* "Main page content" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003356}}
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003359}}
#block-user-login {
  /* "User login form" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003362}}
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003365}}
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

/*
 * Social Media block
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003372}}
#block-widgets-s-socialmedia-share-default {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003375}}
#block-widgets-s-socialmedia-share-default .widgets-element img {
  width: 85%;
}
