/**
 * @file
 * Block Styling
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\000039}}
.block {
  /* Block wrapper */
  margin-bottom: 1.1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000312}}
.block.first {
  /* The first block in the region */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000315}}
.block.last {
  /* The last block in the region */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000318}}
.block.odd {
  /* Zebra striping for each block in the region */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000321}}
.block.even {
  /* Zebra striping for each block in the region */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000324}}
.block h2.block-title {
  /* Block title */
  border-bottom: 2px solid #419845;
  font-family: 'Ropa Sans';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000330}}
.front h2.block-title {
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 0 0.9em;
  margin-bottom: 0.9em;
}

/**
 * @Islandora Blocks
 *
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000342}}
#block-islandora-solr-simple, .image-block-front, .submit-collection-anon, .submit-collection, .welcome {
  background: #fff;
  float: right;
  position: relative;
  z-index: 100;
  height: 140px;
  max-width: 360px;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000355}}
.welcome h2 {
  color: #3D8396;
  margin: 0.8em 0;
  font-weight: normal;
  font-size: 120%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000361}}
.welcome p {
  margin: 0.2em 0;
  line-height: 1.3em;
  color: #424143;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000368}}
#block-accordion-rotator-accordion-rotator {
  max-height: 446px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000373}}
#block-views-frontpage-solr-boxes-block-1, #block-views-frontpage-solr-boxes-block-2, #block-views-frontpage-solr-boxes-block-3 {
  float: left;
  background: #fff;
  float: left;
  padding: 15px;
  margin-right: 1.1%;
  box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000382}}
#block-views-frontpage-solr-boxes-block-2 {
  margin-right: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000386}}
#block-views-frontpage-solr-boxes-block-1 .views-row {
  float: left;
  max-width: 47%;
  padding: 1em 1em 1em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000391}}
#block-views-frontpage-solr-boxes-block-1 h3 {
  margin-bottom: 0.5em;
  font-size: 95%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\0000395}}
#block-views-frontpage-solr-boxes-block-1 .views-field-dcdescription span {
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 90%;
  line-height: 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003101}}
#block-views-frontpage-solr-boxes-block-1 img {
  float: left;
  width: 115px;
  height: 115px;
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003107}}
#block-views-frontpage-solr-boxes-block-1 a {
  color: #3D8396;
  font-size: 100%;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003114}}
#block-views-frontpage-solr-boxes-block {
  background: #fff;
  float: left;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003121}}
#block-views-frontpage-solr-boxes-block .views-field-counter {
  color: #808184;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003127}}
#block-views-top-site-searches-block table, #block-views-top-facet-searches-block table {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003133}}
.block-islandora-solr ul {
  margin: 0.5em 0 0;
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003136}}
.block-islandora-solr ul li {
  list-style: none;
  border-bottom: 1px solid #eef0ed;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003140}}
.block-islandora-solr ul li:hover {
  background: #F7F9F6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003145}}
.block-islandora-solr h3 {
  margin-bottom: 0;
  color: #5A5B5D;
  font-size: 130%;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003153}}
.count {
  color: #888;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003157}}
.plusminus {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003161}}
#block-islandora-solr-display-switch {
  float: right;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003169}}
#block-islandora-solr-display-switch ul li {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003175}}
.islandora-solr-display a.display-default, .islandora-solr-display a.display-grid, .islandora-solr-display a.display-table {
  background: url("../images/display-grid-list.png") no-repeat scroll left top transparent;
  display: inline-block;
  height: 22px;
  outline: medium none;
  text-indent: -9999px;
  width: 25px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003184}}
.islandora-solr-display a.display-grid {
  background: url("../images/display-grid.png") no-repeat scroll left top transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003188}}
.islandora-solr-display a.display-table {
  background: url("../images/display-list.png") no-repeat scroll left top transparent;
}

/**
  * @Menus 
  *
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003197}}
#block-menu-menu-header-menu {
  height: 30px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF343334', endColorstr='#FF5A5B5D');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343334), color-stop(100%, #5a5b5d));
  background-image: -webkit-linear-gradient(top, #343334 0%, #5a5b5d 100%);
  background-image: -moz-linear-gradient(top, #343334 0%, #5a5b5d 100%);
  background-image: -o-linear-gradient(top, #343334 0%, #5a5b5d 100%);
  background-image: linear-gradient(top, #343334 0%, #5a5b5d 100%);
}

/**
 * @Views Blocks
 *
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003209}}
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003212}}
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003215}}
.submit-collection, .submit-collection-anon {
  /* First block created with "Add block" link */
  height: 70px !important;
  background: #419845 !important;
  font-size: 130%;
  font-weight: normal;
  line-height: 3.2em;
  float: right;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003223}}
.submit-collection a, .submit-collection-anon a {
  color: #fff;
  margin-left: 3.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003227}}
.submit-collection p, .submit-collection-anon p {
  margin: 0;
}

/* @Google Analytics Views */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003234}}
#block-views-object-visitors-by-month-block, #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block {
  float: left;
  padding: 15px;
  margin: 0 1.1% 0 0;
  background: #fff;
  min-height: 520px;
  box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003244}}
#block-views-top-site-searches-block {
  margin: 0;
  font-size: 90%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003248}}
#block-views-top-site-searches-block th.views-field-search, #block-views-top-site-searches-block th.views-field-pageviews {
  padding: 0.8em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003253}}
#block-views-top-facet-searches-block {
  margin: 0;
  font-size: 90%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003261}}
.block-google-analytics-reports h3 {
  font-size: 93%;
  color: #424143;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003265}}
.block-google-analytics-reports ol, .block-google-analytics-reports p {
  font-size: 90%;
}

/* Accordion Rotator */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003277}}
#block-accordion-rotator-accordion-rotator h2 {
  font-size: 120%;
  padding: 0 15px;
  font-family: 'Ropa Sans' !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003282}}
#block-accordion-rotator-accordion-rotator p {
  font-size: 80%;
  font-weight: normal;
  padding: 0 15px;
  font-family: arial, helvetica, verdana, sans-serif  !important;
  margin: 0;
}

/* Blockify */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003296}}
#block-blockify-blockify-logo img {
  width: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003301}}
#block-blog-recent {
  /* "Recent blog posts" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003304}}
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003307}}
#block-comment-recent {
  /* "Recent comments" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003310}}
#block-forum-active {
  /* "Active forum topics" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003313}}
#block-forum-new {
  /* "New forum topics" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003316}}
#block-locale-language {
  /* Language switcher block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003319}}
#block-menu-menu-NAME {
  /* Custom menu block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003322}}
#block-node-recent {
  /* "Recent content" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003325}}
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003328}}
#block-poll-recent {
  /* "Most recent poll" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003331}}
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003334}}
#block-search-form {
  /* "Search form" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003337}}
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003340}}
#block-statistics-popular {
  /* "Popular content" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003343}}
#block-system-main-menu {
  /* "Main menu" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003346}}
#block-system-management {
  /* "Management" block for Drupal management menu */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003349}}
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003350}}
#block-system-navigation ul {
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003355}}
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003358}}
#block-system-help {
  /* "System help" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003361}}
#block-system-main {
  /* "Main page content" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003364}}
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003367}}
#block-user-login {
  /* "User login form" block */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003370}}
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003373}}
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

/*
 * Social Media block
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003380}}
#block-widgets-s-socialmedia-share-default {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/blocks\.scss}line{font-family:\00003383}}
#block-widgets-s-socialmedia-share-default .widgets-element img {
  width: 85%;
}
