/**
 * @file
 * Block Styling
 */
/* line 8, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.1em;
}
/* line 11, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 14, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 17, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 20, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 23, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
  border-bottom: 2px solid #419845;
  font-family: 'Ropa Sans';
}

/* line 29, ../sass/blocks.scss */
.front h2.block-title {
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 0 0.9em;
  margin-bottom: 0.9em;
}

/**
 * @Islandora Blocks
 *
**/
/* line 41, ../sass/blocks.scss */
#block-menu-menu-footer-menu {
  margin-bottom: 0em;
}

/* line 45, ../sass/blocks.scss */
#block-islandora-solr-simple, .image-block-front,
.submit-collection-anon, .submit-collection, .welcome, .front-page-left, .front-page-right, .slideshow-item-wrapper {
  background: #fff;
  float: right;
  position: relative;
  z-index: 100;
  min-height: 140px;
  height: auto;
  max-width: 360px;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.5);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 62, ../sass/blocks.scss */
.slideshow-item-wrapper {
  float: none;
}

/* line 66, ../sass/blocks.scss */
.front-page-left {
  float: left;
  max-width: 49.5%;
  min-width: 49.5%;
}

/* line 72, ../sass/blocks.scss */
.front-page-right {
  float: right;
  max-width: 49.5%;
  min-width: 49.5%;
}

/* line 78, ../sass/blocks.scss */
#block-islandora-solr-simple {
  width: 49.5%;
  background: none;
  box-shadow: none;
}

/* line 83, ../sass/blocks.scss */
.view-front-page-browse .view-content {
  display: table;
  width: 100%;
}

/* line 88, ../sass/blocks.scss */
.view-front-page-browse .view-content > div {
  display: inline-block;
  width: 32%;
  text-align: center;
}

/* line 95, ../sass/blocks.scss */
.browse-single-item-wrapper img {
  max-width: 8em;
}

/* line 99, ../sass/blocks.scss */
.browse-collections-block {
  background: none;
  box-shadow: none;
}
/* line 102, ../sass/blocks.scss */
.browse-collections-block h2 {
  border-bottom: none !important;
}

/* line 108, ../sass/blocks.scss */
.welcome h2 {
  color: #3D8396;
  margin: 0.8em 0;
  font-weight: normal;
  font-size: 120%;
}
/* line 114, ../sass/blocks.scss */
.welcome p {
  margin: 0.2em 0;
  line-height: 1.3em;
  color: #424143;
}

/* line 121, ../sass/blocks.scss */
#block-accordion-rotator-accordion-rotator {
  max-height: 440px;
  width: 99.5%;
  float: left;
  margin-bottom: 1.4em;
}

/* line 128, ../sass/blocks.scss */
#block-views-frontpage-solr-boxes-block-1, #block-views-frontpage-solr-boxes-block-2,
#block-views-frontpage-solr-boxes-block-3 {
  float: left;
  background: #fff;
  float: left;
  padding: 15px;
  box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.5);
}

/* line 137, ../sass/blocks.scss */
#block-views-frontpage-solr-boxes-block-2 {
  margin-right: none !important;
}

/* line 141, ../sass/blocks.scss */
#block-views-frontpage-solr-boxes-block-1 .views-row {
  float: left;
  max-width: 47%;
  padding: 1em 1em 1em 0;
}
/* line 146, ../sass/blocks.scss */
#block-views-frontpage-solr-boxes-block-1 h3 {
  margin-bottom: 0.5em;
  font-size: 95%;
}
/* line 150, ../sass/blocks.scss */
#block-views-frontpage-solr-boxes-block-1 .views-field-dcdescription span {
  margin-top: 0;
  margin-bottom: 2em;
  font-size: 90%;
  line-height: 1.4em;
}
/* line 156, ../sass/blocks.scss */
#block-views-frontpage-solr-boxes-block-1 img {
  float: left;
  width: 115px;
  height: 115px;
  padding-right: 10px;
}
/* line 162, ../sass/blocks.scss */
#block-views-frontpage-solr-boxes-block-1 a {
  color: #3D8396;
  font-size: 100%;
  font-weight: bold;
}

/* line 170, ../sass/blocks.scss */
#block-views-top-site-searches-block table, #block-views-top-facet-searches-block table {
  width: 100%;
}

/* line 176, ../sass/blocks.scss */
.block-islandora-solr ul {
  margin: 0.5em 0 0;
  padding: 0 !important;
}
/* line 179, ../sass/blocks.scss */
.block-islandora-solr ul li {
  list-style: none;
  border-bottom: 1px solid #eef0ed;
}
/* line 183, ../sass/blocks.scss */
.block-islandora-solr ul li:hover {
  background: #F7F9F6;
}
/* line 188, ../sass/blocks.scss */
.block-islandora-solr h3 {
  margin-bottom: 0;
  color: #5A5B5D;
  font-size: 130%;
  font-weight: normal;
}

/* line 196, ../sass/blocks.scss */
.count {
  color: #888;
}

/* line 200, ../sass/blocks.scss */
.plusminus {
  display: none;
}

/* line 204, ../sass/blocks.scss */
#block-islandora-solr-display-switch {
  float: right;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* line 212, ../sass/blocks.scss */
#block-islandora-solr-display-switch ul li {
  float: left;
}

/* line 218, ../sass/blocks.scss */
.islandora-solr-display a.display-default, .islandora-solr-display a.display-grid,
.islandora-solr-display a.display-table {
  background: url("../images/display-grid-list.png") no-repeat scroll left top transparent;
  display: inline-block;
  height: 22px;
  outline: medium none;
  text-indent: -9999px;
  width: 25px;
}

/* line 228, ../sass/blocks.scss */
.islandora-solr-display a.display-grid {
  background: url("../images/display-grid.png") no-repeat scroll left top transparent;
}

/* line 232, ../sass/blocks.scss */
.islandora-solr-display a.display-table {
  background: url("../images/display-list.png") no-repeat scroll left top transparent;
}

/* line 236, ../sass/blocks.scss */
#block-islandora-bookmark-islandora-bookmark {
  clear: left;
}

/* line 240, ../sass/blocks.scss */
#islandora-bookmark-overview-form table, #islandora-bookmark-detailed-overview table {
  width: 100%;
}

/**
  * @Menus 
  *
**/
/* line 249, ../sass/blocks.scss */
#block-menu-menu-header-menu {
  height: 30px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF343334', endColorstr='#FF5A5B5D');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0MzMzNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzVhNWI1ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343334), color-stop(100%, #5a5b5d));
  background-image: -moz-linear-gradient(top, #343334 0%, #5a5b5d 100%);
  background-image: -webkit-linear-gradient(top, #343334 0%, #5a5b5d 100%);
  background-image: linear-gradient(to bottom, #343334 0%, #5a5b5d 100%);
}

/**
 * @Views Blocks
 *
**/
/* line 261, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 264, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 267, ../sass/blocks.scss */
.submit-collection, .submit-collection-anon {
  /* First block created with "Add block" link */
  height: 70px;
  background: #419845 !important;
  font-size: 130%;
  font-weight: normal;
  line-height: 3.2em;
  float: right;
  margin-bottom: 0;
}
/* line 275, ../sass/blocks.scss */
.submit-collection a, .submit-collection-anon a {
  color: #fff;
  margin-left: 3.2em;
}
/* line 279, ../sass/blocks.scss */
.submit-collection p, .submit-collection-anon p {
  margin: 0.25em 0;
}

/* @Google Analytics Views */
/* line 286, ../sass/blocks.scss */
#block-views-object-visitors-by-month-block, #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block {
  float: left;
  padding: 15px;
  background: #fff;
  min-height: 520px;
  box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
}

/* line 295, ../sass/blocks.scss */
#block-views-top-site-searches-block {
  margin: 0;
  font-size: 90%;
}
/* line 299, ../sass/blocks.scss */
#block-views-top-site-searches-block th.views-field-search, #block-views-top-site-searches-block th.views-field-pageviews {
  padding: 0.8em 0;
}

/* line 304, ../sass/blocks.scss */
#block-views-top-facet-searches-block {
  margin: 0;
  font-size: 90%;
}

/* line 310, ../sass/blocks.scss */
.block-google-analytics-reports {
  margin: 0 10px;
}
/* line 313, ../sass/blocks.scss */
.block-google-analytics-reports h3 {
  font-size: 93%;
  color: #424143;
}
/* line 317, ../sass/blocks.scss */
.block-google-analytics-reports ol, .block-google-analytics-reports p {
  font-size: 90%;
}

/* Accordion Rotator */
/* line 329, ../sass/blocks.scss */
#block-accordion-rotator-accordion-rotator h2 {
  font-size: 120%;
  padding: 0 15px;
  font-weight: normal;
  margin: 0;
}
/* line 335, ../sass/blocks.scss */
#block-accordion-rotator-accordion-rotator p {
  font-size: 80%;
  padding: 0 15px;
  font-family: arial, helvetica, verdana, sans-serif  !important;
  margin: 0;
  font-weight: normal;
}
/* line 342, ../sass/blocks.scss */
#block-accordion-rotator-accordion-rotator .acc_content {
  background: none;
}
/* line 345, ../sass/blocks.scss */
#block-accordion-rotator-accordion-rotator .box {
  height: 75px;
  padding-top: 15px;
}

/* Blockify */
/* line 356, ../sass/blocks.scss */
#block-blockify-blockify-logo img {
  width: 75%;
}

/* line 361, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 364, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 367, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 370, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 373, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 376, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 379, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 382, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 385, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 388, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 391, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 394, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 397, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 400, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 403, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 406, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 409, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}
/* line 410, ../sass/blocks.scss */
#block-system-navigation ul {
  padding-left: 0;
}

/* line 415, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 418, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 421, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 424, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 427, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 430, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 433, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}

/*
 * Social Media block
*/
/* line 440, ../sass/blocks.scss */
#block-widgets-s-socialmedia-share-default {
  float: right;
}
/* line 443, ../sass/blocks.scss */
#block-widgets-s-socialmedia-share-default .widgets-element img {
  width: 85%;
}
