/**
 * @file
 * Islandora Object Grid Styling in panel display
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* line 13, ../sass/islandora-object-grid-panels.scss */
.panels-flexible-row .islandora-objects-grid {
  text-align: center;
}
/* line 18, ../sass/islandora-object-grid-panels.scss */
.panels-flexible-row ul li {
  list-style-type: none;
  list-style-image: none;
}
