/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\0000316}}
html {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\0000320}}
body {
  margin: 0;
  padding: 0;
  background: #DAD8D8;
  background: url('../images/bg.png?1399296760') repeat scroll 0 0 #222222;
  min-height: 100%;
  border-left: 10px solid #5a5b5d;
  border-right: 10px solid #5a5b5d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\0000330}}
#page {
  background: #E2E2E2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\0000334}}
#page-title {
  background: none !important;
  font-weight: normal;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\0000344}}
#skip-link {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\0000348}}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Searching
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\0000362}}
.islandora-solr-search-result {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f7f9f6;
  box-shadow: 0 3px 3px -3px #808184;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\0000369}}
.islandora-solr-search-results {
  margin-top: 3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\0000373}}
.solr-fields dt, .solr-fields dd {
  border-top: 1px solid #EEF0ED;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\0000376}}
dl.solr-fields {
  border-top: none;
  float: right;
  width: 83%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\0000382}}
dl.solr-thumb {
  float: left;
  width: 15%;
  margin: 2% 0 2% 1%;
}

/*
 * Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\0000395}}
.logged-in.not-front #header {
  padding-top: 1.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\0000399}}
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003104}}
#logo img {
  vertical-align: bottom;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003109}}
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
  margin-left: 2%;
  margin-top: -0.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003115}}
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  color: #5A5B5D;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003122}}
#site-name a:link,
#site-name a:visited {
  color: #5A5B5D;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003128}}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003133}}
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
  color: #A14243;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003140}}
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003148}}
#main {
  background: none !important;
}

/*
 * Content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003156}}
#content {
  box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
  background: #fff;
  padding: 1.5em 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003162}}
.front #content {
  padding: 0;
  background: none;
  box-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003171}}
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  font-size: 70%;
  letter-spacing: 0.6pt;
  line-height: 1.5em;
  padding-left: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003176}}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003180}}
.breadcrumb li {
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  list-style-type: none;
  margin: 5px 0;
  padding: 2px 5px 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003187}}
.breadcrumb li a:hover {
  color: #888;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003191}}
.breadcrumb li:hover {
  background: #F7F9F6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003194}}
.breadcrumb .islandora-solr-breadcrumb-super {
  font-size: 100%;
  position: relative;
  left: 1px;
  top: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003198}}
.breadcrumb .islandora-solr-breadcrumb-super a {
  color: #222;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003201}}
.breadcrumb .islandora-solr-breadcrumb-super a:hover {
  color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003212}}
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
  color: #5A5B5D !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003217}}
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003221}}
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003225}}
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003228}}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003234}}
div.status {
  /* Normal priority messages */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003238}}
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003243}}
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003246}}
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003250}}
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003254}}
.tabs {
  /* See also the tabs.css file. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003257}}
.region-help {
  /* Help text on a page */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003260}}
.more-help-link {
  /* Link to more help */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003263}}
.region-content {
  /* Wrapper for the actual page content */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003266}}
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003270}}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003276}}
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003280}}
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003283}}
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003288}}
ul.pager li.pager-current {
  background: none repeat scroll 0 0 #CCCECF;
  border: 1px solid #419845;
  color: #5A5B5D;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003294}}
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003297}}
.more-link {
  /* Aggregator, blog, and forum more link */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003300}}
#google-pdf-viewer {
  padding-top: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003304}}
.islandora-pdf-link {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003309}}
.islandora-pdf-sidebar ul {
  padding: 0 1em;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003321}}
.region-sidebar-first {
  font-size: 80%;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003339}}
#footer {
  margin-top: 1.8em;
}

/*
 * Page bottom
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal7\/sites\/all\/themes\/ir7\/sass\/pages\.scss}line{font-family:\00003347}}
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
