/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* line 13, ../sass/pages.scss */
#page {
  background: #E2E2E2;
}

/* line 17, ../sass/pages.scss */
#page-title {
  background: none !important;
  font-weight: normal;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 27, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 31, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * View Slideshow
 */
/* line 45, ../sass/pages.scss */
.views_slideshow_cycle_main {
  width: 100%;
  float: left;
}

/* line 50, ../sass/pages.scss */
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame {
  width: 100% !important;
  height: auto;
}

/* line 55, ../sass/pages.scss */
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  text-align: center;
  display: table !important;
}

/* line 61, ../sass/pages.scss */
.views_slideshow_cycle_main .field-content {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* line 67, ../sass/pages.scss */
.views_slideshow_cycle_main .field-content img {
  max-width: 13em;
  max-height: 12em;
  width: 100%;
  height: auto;
  margin: 0;
  min-height: 12em;
  padding: 0;
  box-shadow: 0px 0px 1px 1px rgba(38, 37, 38, 0.3);
  -webkit-box-shadow: 0px 0px 1px 1px rgba(38, 37, 38, 0.5);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 82, ../sass/pages.scss */
.views-slideshow-cycle-main-frame-row-item {
  display: table-cell;
  height: auto;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}

/* line 89, ../sass/pages.scss */
.slideshow-item-wrapper {
  max-width: 15em !important;
  text-align: center;
  min-height: 100% !important;
  display: inline-block;
}

/*
 * The text here is the issue with size, need to fix it from the span
 */
/* line 103, ../sass/pages.scss */
.views-slideshow-controls-text-previous {
  left: 0;
  position: absolute;
  top: 10%;
  z-index: 100;
}
/* line 108, ../sass/pages.scss */
.views-slideshow-controls-text-previous a {
  background: url(../images/icon/verm_page_left.png) left center no-repeat;
  height: 66px;
  width: 33px;
  display: inline-block;
  text-decoration: none;
  vertical-align: text-center;
  line-height: 0;
  font-size: 0;
  color: transparent;
}

/* line 121, ../sass/pages.scss */
.views-slideshow-controls-text-next {
  right: 0;
  position: absolute;
  top: 10%;
  z-index: 100;
}
/* line 126, ../sass/pages.scss */
.views-slideshow-controls-text-next a {
  background: url(../images/icon/verm_page_right.png) left center no-repeat;
  height: 66px;
  width: 33px;
  display: inline-block;
  text-decoration: none;
  vertical-align: text-center;
  line-height: 0;
  font-size: 0;
  color: transparent;
}

/* line 138, ../sass/pages.scss */
.islandora-inline-metadata dt {
  word-wrap: break-word;
}

/* line 142, ../sass/pages.scss */
.front-page-slideshow > div.view {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

/* line 152, ../sass/pages.scss */
.views-slideshow-controls-bottom {
  text-align: center;
}

/*
 * Searching
 */
/* line 161, ../sass/pages.scss */
.islandora-solr-search-result {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f7f9f6;
  box-shadow: 0 3px 3px -3px #808184;
}

/* line 168, ../sass/pages.scss */
.islandora-solr-search-results {
  margin-top: 3em;
}

/* line 172, ../sass/pages.scss */
.solr-fields dt, .solr-fields dd {
  border-top: 1px solid #EEF0ED;
}

/* line 175, ../sass/pages.scss */
dl.solr-fields {
  border-top: none;
  float: right;
  width: 83%;
}

/* line 181, ../sass/pages.scss */
dl.solr-thumb {
  float: left;
  width: 15%;
  margin: 2% 0 2% 1%;
}

/*
 * Header
 */
/*Accordion Rotator */
/* line 193, ../sass/pages.scss */
div.accordion_button.next {
  margin-right: 5px;
}

/* line 196, ../sass/pages.scss */
div.accordion_button.previous {
  margin-left: 5px;
}

/* line 201, ../sass/pages.scss */
#header {
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
}

/* line 207, ../sass/pages.scss */
.logged-in.not-front #header {
  padding-top: 1.25em;
}

/* line 211, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 218, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 223, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
  margin-left: 2%;
  margin-top: 2.5em;
  font-size: 1em;
}

/* line 230, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  color: white;
}
/* line 237, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #5A5B5D;
  text-decoration: none;
}
/* line 243, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 248, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  color: white;
  font-size: 1em;
  font-size: 2.5em;
  font-weight: normal;
  padding-top: 1em;
}

/* line 257, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: right;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/* line 265, ../sass/pages.scss */
#main {
  background: none !important;
}

/*
 * Content
 */
/* line 273, ../sass/pages.scss */
#content {
  float: left;
  width: 100%;
  box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
  background: #fff;
  padding: 1.5em 1em;
}

/* line 281, ../sass/pages.scss */
.front #content {
  padding: 0;
  background: none;
  box-shadow: none;
}

/* line 290, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  font-size: 70%;
  letter-spacing: 0.6pt;
  line-height: 1.5em;
  padding-left: 9px;
}
/* line 295, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 299, ../sass/pages.scss */
.breadcrumb li {
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  list-style-type: none;
  margin: 5px 0;
  padding: 2px 5px 4px;
}
/* line 306, ../sass/pages.scss */
.breadcrumb li a:hover {
  color: #888;
}
/* line 310, ../sass/pages.scss */
.breadcrumb li:hover {
  background: #F7F9F6;
}
/* line 313, ../sass/pages.scss */
.breadcrumb .islandora-solr-breadcrumb-super {
  font-size: 100%;
  position: relative;
  left: 1px;
  top: 4px;
}
/* line 317, ../sass/pages.scss */
.breadcrumb .islandora-solr-breadcrumb-super a {
  color: #222;
}
/* line 320, ../sass/pages.scss */
.breadcrumb .islandora-solr-breadcrumb-super a:hover {
  color: red;
}

/* line 331, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
  color: #5A5B5D !important;
}

/* line 336, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 340, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 344, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 347, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 353, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 357, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 362, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 365, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 369, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 373, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 376, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 379, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 382, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 385, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 389, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 395, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 399, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 402, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 407, ../sass/pages.scss */
ul.pager li.pager-current {
  background: none repeat scroll 0 0 #CCCECF;
  border: 1px solid #419845;
  color: #5A5B5D;
}

/* line 413, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 416, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/* line 419, ../sass/pages.scss */
#google-pdf-viewer {
  padding-top: 1.5em;
}

/* line 423, ../sass/pages.scss */
.islandora-pdf-link {
  float: right;
}

/* line 428, ../sass/pages.scss */
.islandora-pdf-sidebar ul {
  padding: 0 1em;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/* line 440, ../sass/pages.scss */
.region-sidebar-first {
  font-size: 80%;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 459, ../sass/pages.scss */
#footer {
  margin-top: 1.8em;
  box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.3);
}

/*
 * Page bottom
 */
/* line 468, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
