/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/* line 12, ../sass/pages.scss */
#page {
  background: #E2E2E2;
}

/* line 16, ../sass/pages.scss */
#page-title {
  background: none !important;
  font-weight: normal;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 26, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 29, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * View Slideshow
 */
/* line 43, ../sass/pages.scss */
.flex-direction-nav a {
  line-height: 40px;
}

/* line 46, ../sass/pages.scss */
.flex-viewport {
  height: auto !important;
}
/* line 49, ../sass/pages.scss */
.flex-viewport ul li {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 56, ../sass/pages.scss */
.flex-viewport img {
  display: block;
  height: 350px;
}

/* line 60, ../sass/pages.scss */
.flexslider-views-slideshow-main-frame li {
  position: relative;
}

/* line 63, ../sass/pages.scss */
p.flex-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  width: 100%;
}

/*
 * Searching
 */
/* line 79, ../sass/pages.scss */
.islandora-solr-search-result {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f7f9f6;
  box-shadow: 0 3px 3px -3px #808184;
}

/* line 86, ../sass/pages.scss */
.islandora-solr-search-results {
  margin-top: 3em;
}

/* line 90, ../sass/pages.scss */
.solr-fields dt, .solr-fields dd {
  border-top: 1px solid #EEF0ED;
}

/* line 93, ../sass/pages.scss */
dl.solr-fields {
  border-top: none;
  float: right;
  width: 83%;
}

/* line 99, ../sass/pages.scss */
dl.solr-thumb {
  float: left;
  width: 15%;
  margin: 2% 0 2% 1%;
}

/*
 * Header
 */
/* line 108, ../sass/pages.scss */
html body.admin-menu {
  margin-top: 0px !important;
}

/* line 112, ../sass/pages.scss */
body.admin-menu {
  margin-top: 0px !important;
}

/*Accordion Rotator */
/* line 117, ../sass/pages.scss */
div.accordion_button.next {
  margin-right: 5px;
}

/* line 120, ../sass/pages.scss */
div.accordion_button.previous {
  margin-left: 5px;
}

/* line 125, ../sass/pages.scss */
#header {
  margin-bottom: 10px;
  width: 100% !important;
  box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
}

/* line 131, ../sass/pages.scss */
.logged-in.not-front #header {
  padding-top: 1.25em;
}

/* line 135, ../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 142, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
  max-width: 5em;
}

/* line 147, ../sass/pages.scss */
.flexslider {
  margin-bottom: 40px;
}

/* line 151, ../sass/pages.scss */
.front-page-slideshow {
  min-width: 100% !important;
  max-width: 100% !important;
}

/* line 156, ../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
  margin-left: 2%;
  margin-top: 2em;
  font-size: 1em;
}

/* line 163, ../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: normal;
  color: white;
}
/* line 169, ../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #5A5B5D;
  text-decoration: none;
}
/* line 175, ../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 181, ../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  color: white;
  font-size: 1em;
  font-size: 2em;
  font-weight: normal;
  padding-top: .1em;
}

/* line 190, ../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: right;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/* line 198, ../sass/pages.scss */
#main {
  background: none !important;
}

/*
 * Content
 */
/* line 206, ../sass/pages.scss */
#content {
  float: left;
  width: 100%;
  box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
  background: #fff;
  padding: 1.5em 1em;
}

/* line 214, ../sass/pages.scss */
.front #content {
  padding: 0;
  background: none;
  box-shadow: none;
}

/* line 223, ../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
  font-size: 70%;
  letter-spacing: 0.6pt;
  line-height: 1.5em;
  padding-left: 9px;
}
/* line 228, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 232, ../sass/pages.scss */
.breadcrumb li {
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  list-style-type: none;
  margin: 5px 0;
  padding: 2px 5px 4px;
}
/* line 239, ../sass/pages.scss */
.breadcrumb li a:hover {
  color: #888;
}
/* line 243, ../sass/pages.scss */
.breadcrumb li:hover {
  background: #F7F9F6;
}
/* line 246, ../sass/pages.scss */
.breadcrumb .islandora-solr-breadcrumb-super {
  font-size: 100%;
  position: relative;
  left: 1px;
  top: 4px;
}
/* line 250, ../sass/pages.scss */
.breadcrumb .islandora-solr-breadcrumb-super a {
  color: #222;
}
/* line 253, ../sass/pages.scss */
.breadcrumb .islandora-solr-breadcrumb-super a:hover {
  color: red;
}

/* line 259, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
  color: #5A5B5D !important;
}

/* line 269, ../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 273, ../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 277, ../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 280, ../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 286, ../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 289, ../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 294, ../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 298, ../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 302, ../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 306, ../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 309, ../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 312, ../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 315, ../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 318, ../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 322, ../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 328, ../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 332, ../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 335, ../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 340, ../sass/pages.scss */
ul.pager li.pager-current {
  background: none repeat scroll 0 0 #CCCECF;
  border: 1px solid #419845;
  color: #5A5B5D;
}

/* line 346, ../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 349, ../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/* line 352, ../sass/pages.scss */
#google-pdf-viewer {
  padding-top: 1.5em;
}

/* line 356, ../sass/pages.scss */
.islandora-pdf-link {
  float: right;
}

/* line 361, ../sass/pages.scss */
.islandora-pdf-sidebar ul {
  padding: 0 1em;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/* line 373, ../sass/pages.scss */
.region-sidebar-first {
  font-size: 80%;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 392, ../sass/pages.scss */
#footer {
  margin-top: 1.8em;
  width: 100%;
  box-shadow: 0px 0px 5px 1px rgba(38, 37, 38, 0.3);
}

/*
 * Page bottom
 */
/* line 402, ../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
