/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 1.1em;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
    border-bottom: 2px solid #419845;
  }
}

.front h2.block-title {
    border-bottom: 1px solid #ccc;
    font-size: 125%;
    font-weight: normal;
    padding: 0.5em 0 0.9em;
    margin-bottom: 0.9em;
}



/**
 * @Islandora Blocks
 *
**/

#block-islandora-solr-simple, .image-block-front, .submit-collection-anon, .submit-collection, .welcome {
  background: #fff;
  float: right;
  position: relative;
  z-index: 100;
  height: 140px;
  max-width: 360px;
  padding: 10px;
  box-shadow:  0px 0px 5px 1px rgba(38, 37, 38, 0.3);
    -webkit-box-shadow:  0px 0px 5px 1px rgba(38, 37, 38, 0.5);
}

.welcome {
  h2 {
    color: #3D8396;
    margin: 0.8em 0;
    font-weight: normal;
    font-size: 120%;
  }
  p {
    margin: 0.2em 0;
    line-height: 1.3em;
    color: #424143;
  }
}

#block-accordion-rotator-accordion-rotator {
  max-height: 446px;
  float: left;
}

#block-views-frontpage-solr-boxes-block-1, #block-views-frontpage-solr-boxes-block-2, #block-views-frontpage-solr-boxes-block-3 {
  float: left;
  background: #fff;
  float: left;
  padding: 15px;
  margin-right: 1.1%;
  box-shadow:  0px 0px 5px 1px rgba(38, 37, 38, 0.3);
    -webkit-box-shadow:  0px 0px 5px 1px rgba(38, 37, 38, 0.5);
}
#block-views-frontpage-solr-boxes-block-2 {
  margin-right: none !important;
}
#block-views-frontpage-solr-boxes-block-1 {
  .views-row {
    float: left;
    max-width: 47%;
    padding: 1em 1em 1em 0;
  }
  h3 {
    margin-bottom: 0.5em;
    font-size: 95%;
  }
  .views-field-dcdescription span {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 90%;
    line-height: 1.4em;
  }
  img {
    float: left;
    width: 115px;
    height: 115px;
    padding-right: 10px;
  }
  a {
    color: #3D8396;
    font-size: 100%;
    font-weight: bold;
  }
}

#block-views-frontpage-solr-boxes-block {
  background: #fff;
  float: left;
  padding: 10px;
  box-shadow:  0px 0px 5px 1px rgba(38, 37, 38, 0.3);
    -webkit-box-shadow:  0px 0px 5px 1px rgba(38, 37, 38, 0.5);

    .views-field-counter {
      color: #808184;
    }
}

#block-views-top-site-searches-block, #block-views-top-facet-searches-block {
  table {
    width: 100%;
  }
}

.block-islandora-solr {
  ul {
    margin: 0.5em 0 0;
    padding: 0 !important;
    li {
      list-style: none;
      border-bottom: 1px solid #eef0ed;
    }
    li:hover {
      background: #F7F9F6;
    }
  }

  h3 {
    margin-bottom: 0;
    color: #5A5B5D;
    font-size: 130%;
    font-weight: normal;
  }
}

.count {
  color: #888;
}

.plusminus {
  display: none;
}

#block-islandora-solr-display-switch {
  float: right;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#block-islandora-solr-display-switch {
  ul {
    li {
      float: left;
    }
  }
}

.islandora-solr-display a.display-default, .islandora-solr-display a.display-grid, .islandora-solr-display a.display-table {
  background: url("../images/display-grid-list.png") no-repeat scroll left top transparent;
  display: inline-block;
  height: 22px;
  outline: medium none;
  text-indent: -9999px;
  width: 25px;
}

.islandora-solr-display a.display-grid {
  background: url("../images/display-grid.png") no-repeat scroll left top transparent;
}

.islandora-solr-display a.display-table {
  background: url("../images/display-list.png") no-repeat scroll left top transparent;
}

/**
  * @Menus 
  *
**/

#block-menu-menu-header-menu {
  height: 30px;
    @include filter-gradient(#343334, #5a5b5d, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #343334 0%,#5a5b5d 100%));
}


/**
 * @Views Blocks
 *
**/

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

.submit-collection, .submit-collection-anon { /* First block created with "Add block" link */
  height: 70px !important;
  background: #419845 !important;
  font-size: 130%;
  font-weight: normal;
  line-height: 0.6em;
  a {
    color: #fff;
    margin-left: 3.2em;
  }
}

#block-block-2 {
  float: right;
  margin-bottom: 0;
  margin-top: 1.5em;
  p {
    margin: 0;
  }
}

/* @Google Analytics Views */

#block-views-object-visitors-by-month-block {
  float: left;
  padding: 15px;
  margin: 0 1.1% 0 0;
  background: #fff;
  min-height: 520px;
  box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
    -webkit-box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
}

#block-views-top-site-searches-block {
  @extend #block-views-object-visitors-by-month-block;
  margin: 0;
  font-size: 90%;
  th.views-field-search, th.views-field-pageviews {
    padding: 0.8em 0;
  }
}

#block-views-top-facet-searches-block {
  @extend #block-views-object-visitors-by-month-block;
  margin: 0;
  font-size: 90%;
}

.block-google-analytics-reports {
  @extend #block-views-object-visitors-by-month-block;
  h3 {
    font-size: 93%;
    color: #424143;
  }
  ol, p {
    font-size: 90%;
  }
}

#block-views-frontpage-solr-boxes-block {
  @extend #block-views-object-visitors-by-month-block;
}

/* Accordion Rotator */

#block-accordion-rotator-accordion-rotator {
  h2 {
    font-size: 120%;
    padding: 0 15px;
    font-family: 'News Cycle' !important;
  }
  p {
    font-size: 80%;
    font-weight: normal;
    padding: 0 15px;
    font-family: arial, helvetica, verdana, sans-serif  !important;
    margin: 0;
  }
}



/* Blockify */

#block-blockify-blockify-logo {
  img {
    width: 75%;
  }
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
  ul {
    padding-left: 0;
  }
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

/*
 * Social Media block
*/

#block-widgets-s-socialmedia-share-default {
  float: right;
  .widgets-element {
    img {
      width: 85%; 
    }
  }
}