/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


#page {
  background: #E2E2E2;
}

#page-title {
  background: none !important;
  font-weight: normal;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * View Slideshow
 */
.flex-direction-nav a {
  line-height: 40px;
}
.flex-viewport {
  height: auto !important;
  ul {
    li {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.flex-viewport img {
    display: block;
    height: 350px;
}
.flexslider-views-slideshow-main-frame li {
    position: relative;
}
p.flex-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    width: 100%;
}

/*
 * Searching
 */

.islandora-solr-search-result {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #f7f9f6;
  box-shadow: 0 3px 3px -3px #808184;
}

.islandora-solr-search-results {
  margin-top: 3em;
}

.solr-fields dt, .solr-fields dd {
  border-top: 1px solid #EEF0ED;
}
dl.solr-fields {
  border-top: none;
  float: right;
  width: 83%;
}

dl.solr-thumb {
  float: left;
  width: 15%;
  margin: 2% 0 2% 1%;
}

/*
 * Header
 */
html body.admin-menu {
  margin-top:0px !important;
}

body.admin-menu {
  margin-top:0px !important;
}
/*Accordion Rotator */

div.accordion_button.next {
  margin-right: 5px;
}
div.accordion_button.previous {
  margin-left: 5px;
}


#header {
  margin-bottom: 10px;
  width: 100% !important;
  box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
}

.logged-in.not-front #header {
  padding-top: 1.25em;
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 10px;

  img {
    vertical-align: bottom;
    max-width: 5em;
  }
}
.flexslider {
  margin-bottom: 40px;
}

.front-page-slideshow  {
  min-width: 100% !important;
  max-width: 100% !important;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
  margin-left: 2%;
  margin-top: 2em;
  font-size: 1em;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: normal;
  color: white;
  a:link,
  a:visited {
    color: #5A5B5D;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  color: white;
  font-size: 1em;
  font-size: 2em;
  font-weight: normal;
  padding-top: .1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: right; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
  background: none !important;
}

/*
 * Content
 */

#content {
  float: left;
  width: 100%;
  box-shadow: 0 0 5px 1px rgba(38, 37, 38, 0.3);
  background: #fff;
  padding: 1.5em 1em;
}

.front #content {
  padding: 0; 
  background: none;
  box-shadow: none;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  font-size: 70%;
  letter-spacing: 0.6pt;
  line-height: 1.5em;
  padding-left: 9px;
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    list-style-type: none;
    margin: 5px 0;
    padding: 2px 5px 4px;
    
    a:hover {
      color: #888;
    }
  }
  li:hover {
    background: #F7F9F6;
  }
  .islandora-solr-breadcrumb-super {
  font-size: 100%;
  position: relative;
  left: 1px; top: 4px;
    a {
    color: #222;
    }
    a:hover {
      color: red;
    }
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
  color: #5A5B5D !important;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

ul.pager li.pager-current {
  background: none repeat scroll 0 0 #CCCECF;
  border: 1px solid #419845;
  color: #5A5B5D;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

#google-pdf-viewer {
  padding-top: 1.5em;
}

.islandora-pdf-link {
  float: right;
}

.islandora-pdf-sidebar {
  ul {
    padding: 0 1em;
  }
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
  font-size: 80%;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}


/*
 * Footer
 */

#footer {
  margin-top: 1.8em;
  width: 100%;
  box-shadow:  0px 0px 5px 1px rgba(38, 37, 38, 0.3);
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

