/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
/* line 47, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 1%;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/* line 66, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/*
 * Navigation bar
 */
@media all and (min-width: 320px) {
  /* line 85, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    padding-top: 1.1em;
    /* Move all the children of #main down to make room. */
    position: relative;
  }

  /* line 89, ../../sass/layouts/responsive-sidebars.scss */
  #navigation {
    top: 0;
    /* Move the navbar up inside #main's padding. */
    width: 100%;
  }
}
@media all and (min-width: 320px) and (max-width: 759px) {
  /* line 99, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block,
  .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block-1,
  #block-views-frontpage-solr-boxes-block, .browse-content {
    width: 90.7% !important;
    margin: 0 0 1em 0 !important;
    min-height: 0 !important;
  }

  /* line 104, ../../sass/layouts/responsive-sidebars.scss */
  .submit-collection, .submit-collection-anon {
    display: none;
  }

  /* line 107, ../../sass/layouts/responsive-sidebars.scss */
  .image-block-front {
    margin-right: 0 !important;
  }

  /* line 110, ../../sass/layouts/responsive-sidebars.scss */
  img {
    display: block;
    margin: 0 auto;
  }

  /* line 114, ../../sass/layouts/responsive-sidebars.scss */
  .region-sub-header {
    width: 100%;
    float: left !important;
    margin: 0 !important;
  }
  /* line 118, ../../sass/layouts/responsive-sidebars.scss */
  .region-sub-header #block-menu-menu-header-menu {
    text-align: center;
    float: none !important;
    height: auto;
    margin: -12px -3px 0;
  }

  /* line 125, ../../sass/layouts/responsive-sidebars.scss */
  #logo {
    margin: 0 0 1.5em 2.5em !important;
  }

  /* line 128, ../../sass/layouts/responsive-sidebars.scss */
  #name-and-slogan {
    display: none;
  }

  /* line 132, ../../sass/layouts/responsive-sidebars.scss */
  #block-islandora-solr-simple, .image-block-front, .welcome {
    width: 93.7%;
    height: auto !important;
    float: left !important;
  }
  /* line 136, ../../sass/layouts/responsive-sidebars.scss */
  #block-islandora-solr-simple #edit-simple, .image-block-front #edit-simple, .welcome #edit-simple {
    margin-top: 1.5em !important;
  }
  /* line 138, ../../sass/layouts/responsive-sidebars.scss */
  #block-islandora-solr-simple #edit-simple .form-text, .image-block-front #edit-simple .form-text, .welcome #edit-simple .form-text {
    width: 97% !important;
  }

  /* line 143, ../../sass/layouts/responsive-sidebars.scss */
  #block-accordion-rotator-accordion-rotator {
    max-width: 98.8% !important;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 159, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
  /* line 163, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 173, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    width: 73.333% !important;
  }
  /* line 178, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    width: 25% !important;
    margin-left: 68.28% !important;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 190, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
  /* line 194, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }
  /* line 198, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }
  /* line 203, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 206, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    clear: left;
  }
  /* line 210, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
  }
  /* line 213, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
}
@media all and (min-width: 760px) and (max-width: 959px) {
  /* line 223, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block,
  .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block {
    width: 28.45%;
  }

  /* line 226, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-frontpage-solr-boxes-block-1 {
    width: 95.9% !important;
  }

  /* line 229, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-owl-carousel-view-block {
    width: 100% !important;
  }

  /* line 232, ../../sass/layouts/responsive-sidebars.scss */
  #block-islandora-solr-simple, .image-block-front, .welcome {
    width: 95.9%;
    float: left !important;
    max-width: 100% !important;
    height: 100px !important;
  }

  /* line 239, ../../sass/layouts/responsive-sidebars.scss */
  .view-frontpage-solr-boxes .views-responsive-grid .views-row {
    padding: 20px 10px;
    margin-right: 2em;
  }

  /* line 244, ../../sass/layouts/responsive-sidebars.scss */
  .submit-collection, .submit-collection-anon {
    font-size: 110% !important;
    line-height: 6.1em !important;
    width: 29.5%;
    height: 100px !important;
  }
  /* line 249, ../../sass/layouts/responsive-sidebars.scss */
  .submit-collection a, .submit-collection-anon a {
    margin-left: 1em !important;
  }

  /* line 253, ../../sass/layouts/responsive-sidebars.scss */
  #block-islandora-solr-simple #edit-simple {
    margin-top: 2.2em !important;
  }
}
@media all and (min-width: 960px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
  /* line 269, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    /* Span 4 columns, starting in 2nd column from left. */
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-right: -100%;
    margin-left: 21% !important;
    width: 79% !important;
  }
  /* line 275, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
    margin-right: -21% !important;
    width: 21% !important;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  /* line 287, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    /* Span 4 columns, starting in 1st column from left. */
    float: left;
    width: 80%;
    margin-left: 0%;
    margin-right: -80%;
    width: 79% !important;
    margin-right: -79% !important;
  }
  /* line 293, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 303, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    /* Span 3 columns, starting in 2nd column from left. */
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: -80%;
  }
  /* line 307, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }
  /* line 311, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }

  /* line 316, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block,
  .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block {
    width: 29.4%;
  }

  /* line 319, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-frontpage-solr-boxes-block-1 {
    width: 96.8% !important;
  }

  /* line 322, ../../sass/layouts/responsive-sidebars.scss */
  #block-islandora-solr-simple, .image-block-front, .submit-collection, .submit-collection-anon, .welcome {
    width: 36%;
  }

  /* line 326, ../../sass/layouts/responsive-sidebars.scss */
  .view-frontpage-solr-boxes .views-responsive-grid .views-row {
    padding: 20px 10px;
    margin-right: 2em;
  }

  /* line 331, ../../sass/layouts/responsive-sidebars.scss */
  #block-accordion-rotator-accordion-rotator {
    width: 60.3% !important;
  }

  /* line 334, ../../sass/layouts/responsive-sidebars.scss */
  #block-menu-menu-header-menu {
    float: right;
    line-height: 0.3em !important;
  }

  /* line 338, ../../sass/layouts/responsive-sidebars.scss */
  .region-sub-header {
    height: 1.5em !important;
    margin: 0 !important;
  }
}
@media all and (min-width: 1200px) {
  /* line 346, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block,
  .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block {
    width: 30.2%;
  }

  /* line 349, ../../sass/layouts/responsive-sidebars.scss */
  #block-views-frontpage-solr-boxes-block-1 {
    width: 97.5% !important;
  }

  /* line 352, ../../sass/layouts/responsive-sidebars.scss */
  #block-islandora-solr-simple, .image-block-front, .submit-collection, .submit-collection-anon, .welcome {
    width: 60%;
  }

  /* line 356, ../../sass/layouts/responsive-sidebars.scss */
  .view-frontpage-solr-boxes .views-responsive-grid .views-row {
    padding: 20px 10px;
    margin-right: 2em;
  }

  /* line 361, ../../sass/layouts/responsive-sidebars.scss */
  #block-accordion-rotator-accordion-rotator {
    width: 66.9% !important;
  }
}
