/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Center the page.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000348}}
#page,
.region-bottom {
  /* For screen sizes larger than 1200px, prevent excessively long lines of text
     by setting a max-width. */
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000366}}
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*
 * Containers for grid items and flow items.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000352}}
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass-extensions\/zen-grids\/stylesheets\/zen\/_grids\.scss}line{font-family:\0000356}}
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/*
 * Navigation bar
 */
@media all and (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000385}}
  #main {
    padding-top: 1.1em;
    /* Move all the children of #main down to make room. */
    position: relative;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\0000389}}
  #navigation {
    position: absolute;
    top: 0;
    /* Move the navbar up inside #main's padding. */
    height: 1em;
    width: 100%;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) {
  /*
   * Use 3 grid columns for smaller screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003108}}
  .sidebar-first #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003112}}
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003122}}
  .sidebar-second #content {
    /* Span 2 columns, starting in 1st column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003126}}
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 3rd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003136}}
  .two-sidebars #content {
    /* Span 2 columns, starting in 2nd column from left. */
    float: left;
    width: 66.66667%;
    margin-left: 33.33333%;
    margin-right: -100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003140}}
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003144}}
  .two-sidebars .region-sidebar-second {
    /* Start a new row and span all 3 columns. */
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003149}}
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003152}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    /* Span 1 column, starting in the 1st column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    clear: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003156}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    /* Span 1 column, starting in the 2nd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003159}}
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    /* Span 1 column, starting in the 3rd column from left. */
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
}
@media all and (min-width: 960px) {
  /*
   * Use 5 grid columns for larger screens.
   */
  /*
   * The layout when there is only one sidebar, the left one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003177}}
  .sidebar-first #content {
    /* Span 4 columns, starting in 2nd column from left. */
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-right: -100%;
    margin-left: 22%;
    width: 78%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003183}}
  .sidebar-first .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
    margin-right: -21%;
    width: 21%;
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003195}}
  .sidebar-second #content {
    /* Span 4 columns, starting in 1st column from left. */
    float: left;
    width: 80%;
    margin-left: 0%;
    margin-right: -80%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003199}}
  .sidebar-second .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }

  /*
   * The layout when there are two sidebars.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003209}}
  .two-sidebars #content {
    /* Span 3 columns, starting in 2nd column from left. */
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-right: -80%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003213}}
  .two-sidebars .region-sidebar-first {
    /* Span 1 column, starting in 1st column from left. */
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003217}}
  .two-sidebars .region-sidebar-second {
    /* Span 1 column, starting in 5th column from left. */
    float: left;
    width: 20%;
    margin-left: 80%;
    margin-right: -100%;
  }
}
@media all and (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003224}}
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block {
    width: 30%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003227}}
  #block-views-frontpage-solr-boxes-block-1 {
    width: 97.5%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003230}}
  #block-islandora-solr-simple, #block-views-image-blocks-block, #block-block-1, #block-block-4, #block-views-image-blocks-block-2 {
    width: 60%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003234}}
  .view-frontpage-solr-boxes .views-responsive-grid .views-row {
    padding: 20px 10px;
    margin-right: 2em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003239}}
  #block-accordion-rotator-accordion-rotator {
    width: 65.3%;
  }
}
@media all and (min-width: 1024px) and (max-width: 1199px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003245}}
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block {
    width: 29.55%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003248}}
  #block-views-frontpage-solr-boxes-block-1 {
    width: 97% !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003251}}
  #block-islandora-solr-simple, #block-views-image-blocks-block, #block-block-1, #block-block-4, #block-views-image-blocks-block-2 {
    width: 33%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003255}}
  .view-frontpage-solr-boxes .views-responsive-grid .views-row {
    padding: 20px 10px;
    margin-right: 1em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003260}}
  #block-accordion-rotator-accordion-rotator {
    width: 61.5%;
    margin-left: 1.5%;
  }
}
@media all and (min-width: 960px) and (max-width: 1023px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003267}}
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block-1, #block-views-frontpage-solr-boxes-block {
    width: 29.35%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003270}}
  #block-islandora-solr-simple, #block-views-image-blocks-block, #block-block-1, #block-block-4, #block-views-image-blocks-block-2 {
    width: 33%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003273}}
  #block-views-frontpage-solr-boxes-block-1 {
    width: 96.7% !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003276}}
  #block-menu-menu-header-menu {
    float: none !important;
    line-height: 2em !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003280}}
  #header {
    margin-top: 2em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003283}}
  #block-accordion-rotator-accordion-rotator {
    width: 61.5%;
    margin-left: 1.5%;
  }
}
@media all and (min-width: 800px) and (max-width: 959px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003290}}
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block-1, #block-views-frontpage-solr-boxes-block {
    width: 28.66%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003293}}
  #block-views-frontpage-solr-boxes-block-1 {
    width: 96.7% !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003296}}
  #block-islandora-solr-simple, #block-views-image-blocks-block, #block-views-image-blocks-block-2 {
    float: left !important;
    width: 50%;
    max-width: 46% !important;
    margin-right: 10px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003302}}
  #block-block-1, #block-block-4 {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003305}}
  #block-views-image-blocks-block {
    margin-right: 0 !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003307}}
  #block-views-image-blocks-block img {
    display: block;
    margin: 0 auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003312}}
  #block-menu-menu-header-menu {
    float: none !important;
    line-height: 2em !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003316}}
  #header {
    margin-top: 2em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003319}}
  #block-accordion-rotator-accordion-rotator {
    width: 97.5%;
    margin-left: 1%;
  }
}
@media all and (min-width: 640px) and (max-width: 799px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003326}}
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block-1 {
    width: 27.6%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003329}}
  #block-views-frontpage-solr-boxes-block-1 {
    width: 96.9%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003332}}
  #block-islandora-solr-simple, #block-views-image-blocks-block, #block-views-image-blocks-block-2 {
    float: left !important;
    width: 50%;
    max-width: 46% !important;
    margin-right: 10px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003338}}
  .front #block-block-1, #block-block-4 {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003341}}
  #block-views-image-blocks-block {
    margin-right: 0 !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003343}}
  #block-views-image-blocks-block img {
    display: block;
    margin: 0 auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003348}}
  #block-menu-menu-header-menu {
    float: none !important;
    line-height: 2em !important;
    top: 5px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003353}}
  #header {
    margin-top: 2em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003356}}
  #block-accordion-rotator-accordion-rotator {
    width: 97.5%;
    margin-left: 1%;
  }
}
@media all and (min-width: 320px) and (max-width: 639px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003363}}
  #block-views-top-site-searches-block, #block-views-top-facet-searches-block, .block-google-analytics-reports, #block-views-frontpage-solr-boxes-block-1 {
    width: 95%;
    margin-bottom: 1em !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003367}}
  #block-views-frontpage-solr-boxes-block-1 {
    width: 96%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003370}}
  #block-islandora-solr-simple, #block-views-image-blocks-block, #block-views-image-blocks-block-2 {
    float: left !important;
    width: 96%;
    max-width: 100% !important;
    margin-right: 10px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003376}}
  #block-block-1, #block-block-4 {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003379}}
  #block-views-image-blocks-block {
    margin-right: 0 !important;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003381}}
  #block-views-image-blocks-block img {
    display: block;
    margin: 0 auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003386}}
  #block-menu-menu-header-menu {
    float: none !important;
    line-height: 2em !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003390}}
  #header {
    margin-top: 2em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/DGI\%20Sandbox\%20IR\/themes\/ir7\/sass\/layouts\/responsive-sidebars\.scss}line{font-family:\00003393}}
  #block-accordion-rotator-accordion-rotator {
    width: 97.5%;
    margin-left: 1%;
  }
}
